* {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  user-select: none;
}
h1 {
  font-family: 'Montserrat';
  text-align: center;
  font-size: 90px;
  color: white;
  height: 100px;
  line-height: 300px;
}
h4 {
  font-family: 'Montserrat';
  text-align: center;
  font-size: 30px;
  color: #87224c;
  line-height: 250px;
}
div.top {
  background-color: #df367d;
  width: 100%;
  height: 340px;
  color: white;
}
